* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	display: flex;
	justify-content: center;

	height: 100vh;
	width: 100vw;
}

.hidden {
	display: none;
}

/* Home container */
.home-container {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
	text-align: center;
	padding: 50px;

	h1 {
		margin: 0;
		color: rgb(165, 204, 255);
	}
}

/* Title and description */

.title-container {
	display: flex;
	h3 {
		color: #fff;
	}
}
.title {
	margin-top: 20px;
	margin-left: 20px;
}

.description {
	margin-top: 10px;
}

.title,
.description {
	position: relative;
	z-index: 2;
	color: #fff;
}

/* Search form */
.search-form {
	position: relative;
	z-index: 2;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;

	padding: 1.5rem;
	gap: 10px;
	font-size: 18px;
	backdrop-filter: saturate(180%) blur(20px);
	background-color: rgba(255, 255, 255, 0.7);
}

/* Socials Main Screen */
.home-container .social-links {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 14px;
	gap: 10px;

	a {
		color: rgba(255, 255, 255, 0.7);
	}

	a:hover {
		color: #fff;
	}
}

/* Search form on map screen */
.results-container {
	width: 100%;
}

.results-container .search-form-mini {
	display: none;
	margin: 10px;
	padding: 0.5rem;
	font-size: 14px;
	position: fixed;
	right: 0px;
	z-index: 50;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-wrap: wrap;
	justify-self: flex-end;
	margin-top: 20px;
	gap: 10px;
	backdrop-filter: saturate(180%) blur(20px);
	background-color: rgba(255, 255, 255, 0.7);
	transition: transform 0.2s ease-in-out;
}

.results-container .search-form-mini.hidden {
	transform: translateX(100vw);
	transition: transform 0.2s ease-in-out;
}

/* Search toggle */
.results-container .search-toggle {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 50;
	top: 5px;
	right: 10px;
	width: 18px;
	height: 18px;
	background: none;
	border: none;
	border-radius: 5px;

	transition: transform 0.2s ease-in-out;

	img {
		width: 10px;
		height: 10px;
	}

	&:hover {
		cursor: pointer;
		background-color: rgb(245, 244, 244);
	}
}

.search-open {
	position: fixed;
	top: 50px;
	right: 0px;
	backdrop-filter: saturate(200%) blur(20px);
	background-color: rgba(255, 255, 255, 1);
	border: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	color: #70757a;
	font-weight: bold;
	z-index: 1;

	img {
		width: 40px;
		height: 40px;
	}

	&:hover {
		cursor: pointer;
		backdrop-filter: saturate(200%) blur(20px);
		background-color: rgb(245, 244, 244);
	}
}

.tab {
	min-width: 70px;
	min-height: 70px;
}

.state-container,
.city-container,
.zip-container {
	flex: 1 1 30%;
	display: flex;
	flex-direction: column;
}

#state,
#city,
#zip {
	font-size: 18px;
	padding: 5px 2px;
	border-radius: 5px;
	border: 1px solid #a8a8a8;
	margin-top: 5px;
}

.results-container #state,
.results-container #city,
.results-container #zip {
	font-size: 14px;
	height: 30px;
}

.search-button {
	flex-basis: 100%;
	padding: 0.5rem 1rem;
	cursor: pointer;
	background-color: rgb(76, 154, 255);
	border: 0px;
	border-radius: 5px;
	color: #fff;
	font-size: 18px;

	&:hover {
		background-color: rgb(60, 145, 255);
	}
}

/* Map container */
#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	backdrop-filter: saturate(180%) blur(10px);
	filter: blur(2px) brightness(20%);
	object-fit: cover;
}

/* Places list */
.places-container {
	position: absolute;
	z-index: 100;
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 100%;

	transition: transform 0.2s ease-in-out;

	overflow-y: auto;
	backdrop-filter: saturate(200%) blur(20px);
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.places-container.hidden {
	transform: translateX(-110%);
	transition: transform 0.2s ease-in-out;
}

.places-content {
	flex: 1;
	overflow-y: auto;
}

.places {
	list-style: none;

	li {
		align-content: center;

		padding: 20px;
		padding-left: 20px;

		border-top: 1px solid #c7c7c7;

		&:first-child {
			border-top: none;
		}

		&:last-child {
			border-bottom: 1px solid #c7c7c7;
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.7);
			cursor: pointer;
		}
	}
}

.loading {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;

	img {
		width: 100px;
	}
}

.loading.hidden {
	display: none;
}

.menu-header {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	padding: 0 10px;
	border-bottom: 1px solid #c7c7c7;
	backdrop-filter: saturate(200%) blur(20px);
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	height: 50px;
}

.menu-title {
	font-size: 18px;
	color: rgb(26, 125, 255);
}

.menu-footer {
	position: sticky;
	display: flex;
	width: 100%;
	align-self: flex-end;
	bottom: 0;

	padding: 0 10px;
	border-bottom: 1px solid #c7c7c7;
	backdrop-filter: saturate(200%) blur(20px);
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	height: 50px;
}

.social-links {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	a {
		text-decoration: none;
		color: #2178eb;
	}

	a:hover {
		color: #348cff;
	}
}

.menu-toggle {
	background: none;
	border: none;
	padding: 5px;
	height: 24.5px;
	width: 24.5px;
	border-radius: 10px;

	img {
		width: 14.5px;
		height: 14.5px;
		object-fit: contain;
	}

	&:hover {
		cursor: pointer;
		background-color: rgb(245, 244, 244);
	}
}

.menu-open {
	position: absolute;
	top: 50px;
	backdrop-filter: saturate(200%) blur(20px);
	background-color: rgba(255, 255, 255, 1);
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	color: #70757a;
	font-weight: bold;
	z-index: 75;
	padding: 5px 10px;

	img {
		width: 40px;
		height: 40px;
	}

	&:hover {
		cursor: pointer;
		backdrop-filter: saturate(200%) blur(20px);
		background-color: rgb(245, 244, 244);
	}
}

.menu-open.hidden {
	display: none;
}

/* Place details */
.name {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 2px;
}

.rating {
	font-size: 14px;
	margin-bottom: 5px;
}

i.fa-star {
	color: gold;
	margin-right: 5px;
}

.address {
	margin-bottom: 5px;
}

.phone {
	margin-bottom: 5px;
}

.hours.open {
	font-weight: bold;
	color: green;
}

.hours.closed {
	color: red;
}

.website {
	margin-top: 15px;

	text-align: center;

	a {
		display: block;
		width: 100%;
		height: 100%;
		color: rgb(76, 154, 255);
		text-decoration: none;
		padding: 12px 0px;
		border-radius: 10px;
		border: 1px solid rgb(50, 129, 233);
	}

	a:visited {
		color: rgb(76, 154, 255);
	}

	a:hover {
		background-color: rgba(76, 154, 255, 0.1);
	}
}

.google-maps-link {
	text-align: center;

	margin-top: 10px;

	a {
		display: block;
		width: 100%;
		height: 100%;
		color: rgb(76, 154, 255);
		text-decoration: none;
		padding: 12px 0px;
		border-radius: 10px;
		border: 1px solid rgb(50, 129, 233);
	}

	a:visited {
		color: rgb(76, 154, 255);
	}

	a:hover {
		background-color: rgb(76, 154, 255, 0.1);
	}
}

/* Media Queries */

/* Mobile: 320-480px */

@media (max-width: 425px) {
	.places-container {
		width: 325px;
	}
}

/* Tablets: 481-768px */
@media (max-width: 569px) {
	.results-container .search-form-mini {
		display: flex;
		font-size: 12px;
		padding: 0.5rem;
		z-index: 80;
	}

	.results-container .search-form-mini .search-button {
		font-size: 12px;
		flex-basis: 0%;
		height: 30px;
		align-self: flex-end;
	}

	.results-container .search-form-mini .zip-container {
		margin-top: 2px;
	}
}

@media (max-width: 768px) {
	.menu-open {
		top: 160px;
	}

	.results-container .search-form-mini {
		left: 0;
		right: auto;
	}

	.results-container .search-form-mini.hidden {
		transform: translateX(-100vw);
		transition: transform 0.2s ease-in;
	}

	/* Search toggle */
	.results-container .search-toggle {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 50;
		top: 5px;
		right: 10px;
		width: 18px;
		height: 18px;
		background: none;
		border: none;
		border-radius: 5px;
		transition: transform 0.2s ease-in;

		img {
			width: 10px;
			height: 10px;
		}

		&:hover {
			cursor: pointer;
			background-color: rgb(245, 244, 244);
		}
	}

	.search-open {
		left: 0px;
		right: auto;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;

		img {
			width: 40px;
			height: 40px;
		}

		&:hover {
			cursor: pointer;
			backdrop-filter: saturate(200%) blur(20px);
			background-color: rgb(245, 244, 244);
		}
	}
}

/* Small screens: 769-1024px */

/* Desktop/Large screens: 1025-1440px */

/* Extra large screens: 1440px and up */
